* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blanchedalmond;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
    color: rgb(159, 50, 106);
}

hr {
    font-weight: bold;
    height: 3px;
    background: palevioletred;
    margin-bottom: 10px;
}
.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(255, 127, 178);
    border-radius: 50px;
    padding: 20px;
}
.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: rgb(159, 50, 106);
    border-radius: 50%;
    border-style: none;
}
